<nav class="navbar navbar-light navbar-expand-md py-3">
    <div class="container">
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><img class="nav-icon" src="../assets/img/icons/dashboard.svg"><a class="nav-link" href="index">Dashboard</a></li>
                <li class="nav-item"><img class="nav-icon" src="../assets/img/icons/server.svg"><a class="nav-link" href="services">My Services</a></li>
                <li class="nav-item"><img class="nav-icon" src="../assets/img/icons/heart.svg" width="20" height="43"><a class="nav-link" href="#">Tickets</a></li>
                <li class="nav-item"><img class="nav-icon" src="../assets/img/icons/settings.svg"><a class="nav-link" href="settings">Account Settings</a></li>
            </ul>
            <img class="picture" src="../assets/img/profile/default.svg">
            <div class="dropdown"><a class="dropdown-toggle grey transition" aria-expanded="false" data-bs-toggle="dropdown" href="#"><?php echo $userInfo[0]['firstname'] . " ". $userInfo[0]['lastname']?></a>
                <div class="dropdown-menu">
                    <div class="dropdown-div-top">
                        <div class="dropdown-top-content" style="display: flex;"><img class="picture" width="35" height="100%" src="../assets/img/profile/default.svg">
                            <div style="display: inline-grid;">
                                <p class="grey dropdown-name-email"><?php echo $userInfo[0]['firstname']  . " ". $userInfo[0]['lastname']?></p>
                                <p class="grey dropdown-name-email" style="font-size: 12px;"><?php echo $userInfo[0]['email']?><br></p>
                            </div>
                        </div>
                    </div>
                    <a class="dropdown-item" href="settings"><img class="nav-icon" src="../assets/img/icons/settings.svg" style="margin-right: 10px;">Account Settings</a>
                    <a class="dropdown-item" href="#"><img class="nav-icon" src="../assets/img/icons/card.svg" style="margin-right: 10px;">Billing Information</a>
                    <?php if($userInfo[0]['is_admin'] == 1){echo "<a class='dropdown-item' href='../admin/'><img class='nav-icon' src='../assets/img/icons/settings.svg' style='margin-right: 10px;'>Admin</a>";}?>
                    <hr style="color: #777777;"><a class="dropdown-item" href="logout"><img class="nav-icon" src="../assets/img/icons/exit.svg" style="margin-right: 10px;">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
</nav>