<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-div div-bg">
                    <h1 class="form-title">Password Changed</h1>
                    <p class="form-description grey confirm">Your password has been successfully changed. In 10 seconds you will be redirected to the login page. Otherwise you can click <a href="login.html"><span class="purple flink transition" style="background: none;">here</span></a>&nbsp;to be re-directed immediately.<br></p>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>