<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-div div-bg">
                    <h1 class="form-title">Forgotten password?</h1>
                    <p class="form-description grey">Please enter your email so we can send you a reset password email!<br></p>
                    <div class="input-div"><label class="form-label grey" for="email">Email Address</label><input type="email" class="form-input" placeholder="Enter your email address..." name="email"></div><button class="purple form-button transition" type="button">Submit</button>
                    <p class="form-link">Or&nbsp;<a href="login"><span class="purple flink transition">go back to login</span></a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>